.navbar {
    position:absolute;
    width:100%;
    background-color: black;
}

.nav.navbar-nav li a{
    font-size: 20px;
    color: white ;
    font-weight: bolder;
    font-family: cursive;
}

.navbar-nav > li{
    padding-left:5px;
    padding-right:15px;
    opacity: 0.9;
}